@model Web.Models.RouteViewModel
<tr class="info">
    <td>
        <span class="center-block">
            @Html.DisplayFor(modelItem => modelItem.Id)
            @Html.HiddenFor(modelItem => modelItem.Id)
            @Html.HiddenFor(modelItem => modelItem.OrdersAdresses)
        </span>
    </td>
<td>
    <span class="center-block">
        @Html.DisplayFor(modelItem => modelItem.OrdersIds)
        @Html.HiddenFor(modelItem => modelItem.OrdersIds)
    </span>
    </td>
<td>
    <span class="center-block">
        @Html.DisplayFor(modelItem => modelItem.ShippingType)
        @Html.HiddenFor(modelItem => modelItem.ShippingType)
    </span>
    </td>
<td>
    <span class="center-block">
        @Html.HiddenFor(modelItem => modelItem.TotalDistance)
        @*@Html.EditorFor(modelItem => modelItem.TotalDistance, new { htmlAttributes =
            new { @class = "form-control", @readonly = "readonly" } })*@
        @{
            var td = @ViewData.TemplateInfo.HtmlFieldPrefix.Replace('[', '_').Replace(']', '_') + "_TotalDistance";
            <span class="@td"></span>
        }
    </span>
    </td>
<td>
    <span class="center-block">
        @Html.DisplayFor(modelItem => modelItem.CountOrders)
        @Html.HiddenFor(modelItem => modelItem.CountOrders)
    </span>
    </td>
<td>
    <span class="center-block">
        @{
            var rt = @ViewData.TemplateInfo.HtmlFieldPrefix.Replace('[', '_').Replace(']', '_') + "_RouteTariff";
            <span class="@rt"></span>
        }
        @Html.HiddenFor(modelItem => modelItem.RouteTariff)
    </span>
</td>
@*<td><span class=""></span></td>*@
</tr>
<tr>
    <td />
    <td colspan="5">
        <div>
            @{
                Html.RenderPartial("ReceiptsList", Model.Orders, new ViewDataDictionary
                {
                    TemplateInfo = new TemplateInfo { HtmlFieldPrefix = ViewData.TemplateInfo.HtmlFieldPrefix + ".Orders" }
                });
            }
        </div>
    </td>
</tr>
