@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Виконати вхід";
}
@section headerscripts
{
    <style>
        img.background {
            background: none;
        }
        .body-content {
            min-height: 0;
            width: 680px;
        }

        footer {
            -ms-opacity: 0;
            opacity: 0;
        }
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
                margin-left: 244px;
        }
        .navbar-right {
            -ms-opacity: 0;
            opacity: 0;
        }
    </style>
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Використовуйте локальний обліковий запис для входу</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Login, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Виконати вхід" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Реєстрація нового користувача", "Register")
                </p>
                @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
                    <p>
                        @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}