@model Web.Models.Product

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Товар</h2>

<div>
    @*<h4>Product</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.Id)
            @Html.DisplayNameFor(model => model.Art)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Art)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Менеджер"))
    {
        @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id })
    }
</p>

<div>
    @Html.ActionLink("Назад", "Index")
</div>