@model Web.Models.ChartsModel
@{
    ViewBag.Title = "Графіки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerscripts
{
    @Scripts.Render("~/bundles/highchart")
    <link rel="stylesheet" href="/Content/themes/custom/jquery-ui.css">
    <style type="text/css">
        .ui-tabs .ui-tabs-panel {
            display: flex;
        }
        tspan, text {
            font-size: medium;
        }
        #tab1, #tab2, #tab3, #tab4 {
             padding: 10px;
        }
    </style>
}
<h2>@ViewBag.Title</h2>
@*<img src='@Url.Action("CountSalesProduct")'/>
    <img src='@Url.Action("TotalPriceSalesProduct")'/>*@


@*<img src="CountSalesProduct.cshtml" alt="" />*@






<div id="tabs">
    <ul>
        <li><a href="#tab1">Кількість проданих товарів</a>
        <li><a href="#tab2">Вартість проданих товарів</a>
        <li><a href="#tab3">Кількість товарів по типу доставки</a>
        <li><a href="#tab4">Кількість товарів по формi оплати</a>
    </ul>
    <div id="tab1">
        <div class="col-md-12">@Model.Chart1</div>
    </div>
    <div id="tab2">
        <div class="col-md-12">@Model.Chart2</div>
    </div>
    <div id="tab3">
        <div class="col-md-12">@Model.Chart3</div>
    </div>
    <div id="tab4">
        <div class="col-md-12">@Model.Chart4</div>
    </div>
</div>

@section scripts
{
    <script>
        
        $(function () {
            $('#tabs').tabs({
                show: function (event, ui) {
                    var $activeTab = $('#tabs').tabs('option', 'active');
                    if ($activeTab == 1) {

                    }
                    if ($activeTab == 2) {

                    }
                    if ($activeTab == 3) {

                    }

                }
            });
        });
    </script>
}
