@model IEnumerable<Web.Models.ProductInOrderViewModel>

@{
    ViewBag.Title = "Звіт продажiв";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Art)
        </th>
        <th class="text-left">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Середня ціна, грн.
        </th>
        <th>
            Кількість проданих, шт.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            Залишок на складі, шт.
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.Id)
                @Html.DisplayFor(modelItem => item.Art)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.MaxCount)
            </td>
        </tr>
    }

</table>
<div class="non-printable">
    <input type="button" value="Друк" class="btn btn-primary" onclick="javascript:window.print();" />
    <hr />
    <div>
        @Html.ActionLink("Назад", "Index")
    </div>
</div>
