@model IEnumerable<Web.Models.ProductInOrderViewModel>

<hr />
<h4>Товари</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Art)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @if (Model.All(o => !o.ReadOnly))
        {
            <th>
                @Html.DisplayNameFor(model => model.MaxCount)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>

    </tr>
    @Html.EditorForModel()

</table>
@section scripts{

}