@using WebGrease.Css.Ast.MediaQuery
@model Web.Models.CreateOrderViewModel

@{
    ViewBag.Title = "Квитанція: " + Model.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerscripts
{
    <style>
        .dl-horizontal dt {
            width: 220px;
            text-align: right;
            float: left;
        }
        .dl-horizontal dd {
            padding-left: 60px;
            max-width: 350px;
            /*float: left;*/
        }
        
    </style>
}
<h2>Квитанція</h2>

<div>
    <hr />
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        <dl class="dl-horizontal">
            <dt>Код квітанції</dt>
            <dd>@Html.DisplayFor(model => model.Id)</dd>
            <dt>@Html.LabelFor(model => model.User, htmlAttributes: new { @class = "" })</dt>
            <dd>@Html.DisplayFor(model => model.User)</dd>

            <dt>@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "" })</dt>
            <dd>@Html.DisplayFor(model => model.Date)</dd>

            <dt>@Html.LabelFor(model => model.AdresShipping)</dt>
            <dd>@Model.AdresShipping</dd>

            <dt>@Html.LabelFor(model => model.ShippingType, htmlAttributes: new { @class = "" })</dt>
            <dd>@Html.DisplayFor(model => model.ShippingType)</dd>

            <dt>@Html.LabelFor(model => model.PaymentTypesId, htmlAttributes: new { @class = "" })</dt>
            <dd>@Html.DisplayFor(model => model.PaymentType)</dd>
            <dt>@Html.LabelFor(model => model.ShippingCost)</dt>
            <dd>@Html.DisplayFor(model => model.ShippingCost)</dd>
            <dt>Сумма заммовлення, грн.</dt>
            <dd>@Model.Products.Aggregate(Model.ShippingCost, (current, el) => (current + el.Count * el.Price))</dd>
        </dl>

        <div id="productsList">
            @{
                Html.RenderPartial("_ProductsList", Model.Products, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Products" } });
            }
        </div>
    </div>
</div>

<div class="hidden-print">
    <input type="button" value="Друк" class="btn btn-primary" onclick="javascript:window.print();" />
    <hr />
    <p>
        @Html.ActionLink("Список квитанцій", "ReceiptsView") |
        @Html.ActionLink("Список замовлень", "Index")
    </p>
</div>
