<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ECommerce</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("headerscripts", required: false)
    <style type="text/css">
        body {
            background: url('/Content/background.jpg') no-repeat 0 100%;
            background-size: 100% auto;
            background-position: 0 0;
            padding-bottom: 0;
                
        }

        img.background {
            position: absolute; /* теперь мы можем управлять рисунком как слоем */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #ffffff;
            background: rgba(255, 255, 255, 0.75);
        }

        html, body {
            margin: 0px;
            height: 100%;
            overflow: auto;
        }

        #background {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #body {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .body-content {
            box-sizing: border-box;
            min-height: 100%;
            padding-bottom: 50px;
            background: #ffffff;
            background: rgba(255, 255, 255, 0.85);
        }

        footer {
            background-color: #eee;
            height: 50px;
            margin-top: -50px;
        }

            footer p {
                text-align: center;
                padding-top: 10px;
                font-size: 21px;
                font-weight: 200;
            }
            .jumbotron {
                margin-left: -15px;
                margin-right: -15px;
                margin-bottom: 0;
                height: 100%;
                background-color: #fff;
            }
            .container.body-content:after {
    clear: both;
}
    </style>
</head>
<body>
<img class="background" alt=""/>
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-Commerce", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Товари", "Index", "Products")</li>
                        if (User.IsInRole("Менеджер"))
                        {
                            @*<li>@Html.ActionLink("Клієнти", "Index", "ApplicationUsers")</li>*@
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Документи <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Замовлення", "Index", "Orders")</li>
                                    <li>@Html.ActionLink("Квитанції", "ReceiptsView", "Orders")</li>
                                    <li>@Html.ActionLink("Звіт продажiв", "SalesProducts", "Products")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Маркетинг<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Створити захід", "Create", "Marketings")</li>
                                    <li>@Html.ActionLink("Перелік заходів", "Index", "Marketings")</li>
                                    <li>@Html.ActionLink("Реклама", "AdvertisingView", "Marketings")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Логістика", "Logistic", "Orders")</li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Аналіз <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Клієнти", "Index", "ApplicationUsers")</li>
                                    <li>@Html.ActionLink("Графіки", "GraphView", "Products")</li>
                                </ul>
                            </li>
                        }
                        if (User.IsInRole("Адміністратор"))
                        {
                            <li>@Html.ActionLink("Адмiн-панель", "Edit", "ApplicationRoles")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@

    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year – MACStudio</p>
    </footer>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            //if (!Modernizr.inputtypes.date)
            //    {
            //        $(function() {
            //            $("input[type='date']")
            //                .datepicker({ dateFormat: 'dd/mm/yy' })
            //                //.get(0).setAttribute("type", "text");
            //        });
            $.datepicker.regional['ru'] = {
                closeText: 'Закрыть',
                prevText: 'Пред',
                nextText: 'След',
                currentText: 'Сегодня',
                monthNames: [
                    'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
                    'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
                ],
                monthNamesShort: [
                    'Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн',
                    'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'
                ],
                dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
                dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
                dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                weekHeader: 'Не',
                dateFormat: 'dd.mm.yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['ru']);
            $("#accordion").accordion({
                collapsible: true
            });
            //    }
        });
    </script>
</body>
</html>
